/* Additional fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Quicksand&family=Space+Grotesk&family=Lato&family=Roboto&family=Roboto+Mono&display=swap");

.quicksand {
    font-family: "Quicksand", sans-serif;
}

.merri {
    font-family: "Merriweather", serif;
}

.space-grotesk {
    font-family: "Space Grotesk", sans-serif;
}

.lato {
    font-family: "Lato", sans-serif;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

.roboto-mono {
    font-family: "Roboto Mono", monospace;
}


/*  */
html {
    scroll-behavior: smooth;
}

.bodyIndex {
    background-image: linear-gradient(
            100deg,
            #576e8588,
            #0e141f9a
        ),
        url("../img/The Owl House S1/the_owl_house-s1_poster_1000.jpg");
}
