/* Custom CSS */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Quicksand&family=Space+Grotesk&family=Lato&family=Roboto&family=Roboto+Mono&display=swap');

.quicksand {
    font-family: 'Quicksand', sans-serif;
}

.merri {
    font-family: 'Merriweather', serif;
}

.space-grotesk {
    font-family: 'Space Grotesk', sans-serif;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.roboto-mono {
    font-family: "Roboto Mono", monospace;
}

html {
    scroll-behavior: smooth;
}